<!DOCTYPE html>
<html>
	<head>
		<title>Test verdict users</title>
		<style>
			.flex {
				display: flex;
				flex-flow: row wrap;
				justify-content: center
			}
			.flex div {
				display: flex;
				flex-flow: cloumn nowrap;
				width:20%;
			}
			.gray {
				color: gray;
			}
		</style>
	</head>
	<body>
		<h1>Test new user</h1>
		<div class="flex">
			{% for r in records %}
				<div>
					<h3>{{ r.name }}</h3>
					<p>Age: {{ r.age }}</p>
					<p class="bio">{{ r.bio}</p>
					<p class="gray">Student {{ r.id }}</p>
				</div>
			{% endfor %}
		</div>
	</body>
</html>
