/* form :is(label, input) {
    display: block;
} */
/* form {
    width: 45%;
    margin: 5px auto;
    background-color: aliceblue;
    padding: 15px 10px;
} */

.invisible {
    display: none;
}

nav {
    background-color: gray;
    text-align: right;
}

form {
    overflow-y: scroll;
}

main {
    width: 80%;
    padding: 0 10%;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.nav-logo {
    text-decoration: none;
    color: #2f474f;
}

h1.nav-logo {
    float: left;
    font-size: 40px;
    margin-left: 15px;
    padding-top: 15px;
}